services:
  mysql:
    image: mariadb:10.3
    container_name: mariadb
    volumes:
      - ./cy-notes.sql:/docker-entrypoint-initdb.d/dump.sql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: root
      MYSQL_DATABASE: cy_notes

  app:
    build: .
    container_name: jar-app
    restart: always
    ports:
      - '9999:9999'
    depends_on:
      - mysql

  nginx:
    build: ./nginx
    ports:
      - '8081:8081'
    depends_on:
      - app
